# Editor files
.idea/

# Environments
*venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
build/
dist/

# Project specific files
adb_key*
alune-output/
